@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --whileColor: #fff;
    --PrimaryColor: #FF5B00;
    --BlackColor:#1b1b25;
}

*{
    color: var(--BlackColor);
    font-family: 'Raleway', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
}
.main-container {
    background: #1b1b2505;
    border-radius: 25px;
    box-sizing: border-box;
    background-size: cover;
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

}

.navigationbar{
    margin: 0.5em;
    padding: 0.5em;
}

.brand {
    font-family: 'Auriol LT Std Black', 'Berkshire Swash', cursive;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--PrimaryColor);
    text-align: center;
    align-self: center;
}
.menus{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}
.tagline
{
    font-family: 'Rajdhani', sans-serif;
    font-size: 2em;
}
.greetings{
    font-family: 'Rozha One', serif;
    font-size: 2.5em;
}
a{
    transition: all ease 0.1s;
}
a:hover{
    border-bottom: solid 1px #FF5B00;
}
.menus > a{
    padding: 0.5em;
    margin: 0.5em;
    text-decoration: none;
}

.menus > a{
    color: var(--BlackColor);
}

.menus > a:hover, .menus > .active{
    color: var(--PrimaryColor);
    background: transparent;
    box-sizing: border-box;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.typed {
    color: var(--PrimaryColor);
  }


.hero-image{
    height: 100%;
    width: 50%;
    text-align: end;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.test-border
{
    border: solid 1px red;
}
.intro{
    font-size: 0.8em;
}
@media screen and (min-width:576px){
    .intro{
        font-size: 1em;
    }
}